<div class="clearfix">
    <h1 class="float-left">Bulbs</h1>
    <a href="ideas/add" class="btn btn-dark float-right">add Bulb</a>
</div>
{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
        <form action="/ideas/{{id}}/?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete"></input>
        </form>
    </div>
{{else}}
    <p>No Bulbs listed</p>
{{/each}}
